<div class="container">
    <section class="join">
        <div class="form1">
            <form id="joinow">
                <a href="/"><img src="https://www.logolynx.com/images/logolynx/52/52c91a3ad83f2025fae1cc9755ebc6a2.png" height="70px"> </a>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group" id="slc">
                    <label for="exampleFormControlSelect1"></label>
                    <label for="size"></label>
                    <select  id="inst" required>
                        <option >Select Insitution</option>
                        <option >Moringa</option>
                        <option >E-Mobilis</option>
                        <option > Tutorials Point</option>
                        <option >W3schools</option>
                    </select>
                </div> 

                 
                <div class="form-group" id="dvp">
                    <label for="exampleFormControlSelect2"></label>
                    <select id="exampleFormControlSelect2">
                      <option >Select course</option>
                      <option>Full stack</option>
                      <option>Mobile</option>
                      <option>Data Scientist</option>
                      <option>Game developer</option>
                      <option>Software</option>
                    </select>
                </div> 
               
                <button id="sub" (click)="getName()" class="btn btn-primary">Submit</button>
            </form>
        </div>
       
    </section>
   
</div>



<!-- footer -->
<footer>
    <div class="row">
       <div class="twelve columns">
          <ul class="copyright text-center p-4 display-7">
             <p>&copy; Copyright 2021 E-education </p>
          </ul>
        </div>
    </div>
  </footer>