<section class="about">
    <!-- <img src="../../assets//about"> -->
    <div class="container">
        <h1>About Us</h1>
        <p>
            This web application serves to enable the user to be able first to <br>apply for a programming course in a desired institution. The user is able to do this by prompting the join now button. <br>This E-Education sites also serves to enable the user to acquire different learning resources satisfying their programming knowledge needs.
        </p>
    </div>

</section>
