<section class="about container">
    <h1 class="text-center mb-5">About Us</h1>
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <img src="../assets/images/about1.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <p>
                    This web application serves to enable the user to be able first to <br>apply for a programming course in a desired institution. The user is able to do this by prompting the join now button. <br>This E-Education sites also serves to enable the user to acquire different learning resources satisfying their programming knowledge needs.
                </p>
            </div>
          </div>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <p>
                    The curricculum found on this web application is industry specific. <br> We seek to unlock a learner’s potential and help them build futures with greater confidence and capability.
                </p>
        
                
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <img src="../assets/images/abt2.png" alt="" height="300">
            </div>
          </div>
        </div>
      </div>    
</section>
<br>
<br>
<br>
<br>
<br>
<footer>
    <div class="follow text-center">
        <h4>Follow us</h4>
        <a href="https://twitter.com/">Twitter</a>
        <a href="https://www.facebook.com/">Facebook</a>
        <a href="https://www.instagram.com/">Instagram</a>
        <a href="https://www.youtube.com/">Youtube</a>

    </div>
    <br>
    <br>
    <div class="row">
       <div class="twelve columns">
          <ul class="copyright text-center p-4 display-7">
             <p>&copy; Copyright 2021 E-education </p>
          </ul>
        </div>
    </div>
  </footer>