<section class="about container">
        <h1 class="text-center mb-5">About Us</h1>
        <p>
            This web application serves to enable the user to be able first to <br>apply for a programming course in a desired institution. The user is able to do this by prompting the join now button. <br>This E-Education sites also serves to enable the user to acquire different learning resources satisfying their programming knowledge needs.
        </p>
        <p>
            The curricculum found on this web application is industry specific. <br> We seek to unlock a learner’s potential and help them build futures with greater confidence and capability.
        </p>

        <div class="follow text-center mt-4">
            <h4>Follow us</h4>
            <a href="#">Twitter</a>
            <a href="#">Facebook</a>
            <a href="#">Instagram</a>
            <a href="#">Youtube</a>

        </div>
</section>

<footer>
    <div class="row">
       <div class="twelve columns">
          <ul class="copyright">
             <li>&copy; Copyright 2021 Rono Shalin </li>
          </ul>
        </div>
        <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>
    </div>
    <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>
  </footer> 
