<section class="course">
    <div class="container">
        <h1 class="text-center">All Courses</h1>

        <div class="row mt-5">
            <div class="col-lg-3" *ngFor="let cs of course">
                <div class="box">
                    <img src="{{cs.image}}" width="100">
                    <h3 class="mt-2">{{cs.name}}</h3>
                    <p class="mt-2">{{cs.description}}</p>
                    <!-- -->
                    <a href="{{cs.link}}"> <button class="btn btn-primary btn-sm mt-2 text-center">Learn more</button></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- api codes -->
<div class="container">
<form>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search your language code" [(ngModel)]="book" 
      name="book" (keyup)="findBook()" (keyup)="findCont()">
    </div>
  </form>
  <div *ngIf="user">
    <!-- <p>{{user.page}}</p> -->
    
  </div>

  <br>
<br>
<div *ngFor="let books of content"> 
  <p>{{books.title}}</p>
  <a href="{{books.url}}">learn more</a>
  <p></p>
</div>
</div>

<!-- api display -->
<div class="container" *ngFor="let edwin of api">
  <!-- <p>{{api.title}}</p>
  <p>{{api.author}}</p> -->
</div>



<!-- footer -->
<footer>
    <div class="row">
       <div class="twelve columns">
          <ul class="copyright text-center p-4 display-7">
             <p>&copy; Copyright 2021 E-education </p>
          </ul>
        </div>
    </div>
  </footer>
