<section class="home">
    <img src="../../assets/images/moringa.jpg">

    <div class="homecontent float-left">
    <h1>Start Learning For <br> A Bright Future</h1>
    <a href="#" class="btn btn-lg btn-light">Courses Offered</a>&nbsp;
    <a href="#" class="btn btn-lg btn-primary">Join Now</a>
    </div>

</section>

<footer>
    <div class="row">
       <div class="twelve columns">
          <ul class="copyright text-center bg-info p-4">
             <p>&copy; Copyright 2021 E-education </p>
          </ul>
        </div>
        <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>
    </div>
    <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>
  </footer>
